@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #227B94;
  --secondary-color: #0F0F0F;
}

body {
  color: white;
  background: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}

p,
ol,
ul {
  margin-block-end: 10px;
}

strong {
  font-weight: 600;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff10;
  border-radius: 30px;
}